plots/
results_comparison/
*mp4
*~
checkpoints/
prepare_annotations/images_to_annotate*
prepare_annotations/processed_videos/
scripts/utils/__pycache__/
*png
log_tensorboard/
*pth
data/reference_videos/